body {
  margin: 0;
  padding: 0;
  text-align: center;

  box-sizing: border-box;
  font-family: "Michroma";
  font-size: 16px;
  font-weight: 600;
  background-color: rgb(255, 255, 255);
}

header {
  border: rgb(164, 15, 15) 1px solid;
  position: fixed;
  margin: auto;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: white;
  /* border-width: 2px; */
  color: #00080a;
}

.container {
  width: 1450px;
  margin: auto;
  border: #aba944 0px solid;
}

.nav_checkbox {
  display: grid;
  grid-template-columns: 50px 300px 2fr;
  grid-template-rows: 45px;
  align-items: center;
  padding: 0px 0px;
  border: skyblue 0px solid;
}

.logo {
  text-decoration: none;
  color: rgb(43, 40, 40);
  padding-left: 0px;
  font-size: 25px;
  font-weight: 600;
  /* border: skyblue 1px solid; */
  margin: 8px 0px 10px 10px;
}

.logoImg {
  margin: 9px 0px 10px 10px;
  border: skyblue 0px solid;
  text-align: center;
  width: 40px;
}

.tab-nav {
  outline: none;
  display: none;
  margin: 9px 0px 10px 10px;
}

.label {
  display: none;
  color: rgb(144, 20, 20);
}

.burger {
  width: 35px;
  height: 5px;
  background-color: #040404;
  margin-top: 3px;
}

.content_nav {
  grid-column: 4;
  list-style: none;

  margin: 0;
  padding: 0;
  text-align: right;
}

.content_nav li {
  display: inline-block;
  padding-right: 12px;
  text-align: right;
}

.content_nav li a {
  text-decoration: none;
  color: #556970;
  position: relative;
}

.content_nav li a::after {
  content: "";
  display: block;
  height: 2px;
  background-color: #556970;
  position: absolute;
  left: 0;
  right: 0;
  transform-origin: right;
  transform: scale(0, 1);
  transition: transform ease-in-out 0.5s;
}

.content_nav li a:hover::after {
  transform: scale(1, 1);
}

@media screen and (max-width: 1480px) {
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  body {
    /* border: skyblue 10px solid; */

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Michroma";
    font-size: 12px;
    background-color: #ffffff;
  }
  .logo {
    text-decoration: none;
    /* color: #556970; */
    padding-left: 0px;
    font-size: 18px;
    border: skyblue 0px solid;
    margin: 0px 0px 3px 10px;
  }
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 645px) {
  .label {
    display: grid;
    cursor: pointer;
    grid-column: 4;
    padding-right: 7px;
    margin-bottom: 7px;
  }

  .logo {
    text-decoration: none;
    /* color: #556970; */
    padding-left: 0px;
    font-size: 16px;
    font-weight: 800;

    border: skyblue 0px solid;
    margin: 3px 0px 5px 10px;
  }

  .content_nav {
    display: grid;
    grid-template-columns: 1fr;
    grid-column: 1/4;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.6s;
  }

  .nav_checkbox input:checked ~ .content_nav {
    max-height: 500px;
  }

  .content_nav li {
    padding: 8px 0px;
  }
}

#App {
  /* font-family: sans-serif; */
  /* color: white; */
  height: 100vh;
  /* margin: 0px 0px 5px 10px; */
}

#page-wrap {
  text-align: center;
  overflow: auto;
  top: 45%;
  position: relative;
}

.bm-item {
  display: inline-block;

  /* Our sidebar item styling */
  text-decoration: none;
  margin-bottom: 10px;
  color: #0e0101;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: rgb(164, 15, 15);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: rgb(164, 15, 15);
  color: #00080a;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
  color: #00080a;
  /* color: #d8c70b; */
}

































/* Main Area Layout */


.marquee {
width: 40%;
background: rgb(251, 251, 251);

}


.image_wrapper {
  margin: 0px 200px;
}



.marqueeWindow{
  width: 200px;
  padding: 0px 0px 0px 0px;
  text-align: center;
  
}

.windowWidth {
  text-align: right;
  width: 50%;
}
.activities {
  /* display: flex; */
  background-color: rgb(255, 255, 255);
  width: 370px;
  /* border: 1px solid #3a921c; */

  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

/* <!-- HTML !--> */
/* <button class="button-12" role="button">Button 12</button> */

/* CSS */
.button-12 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4px 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  border-radius: 6px;
  border: none;
  height: 26px;
  margin-left: 0px;

  background: rgb(164, 15, 15);
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1),
    inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5),
    0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #dfdedf;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-12:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2),
    0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 2.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}

.table2 {
  background-color: rgb(255, 255, 255);
  width: 95%;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  color: rgb(61, 56, 56);
  font-size: 11px;
  /* border: 1px solid #3a921c; */
}

.table2 td {
  /* font-weight: bold; */
  border: 0px solid #000000;
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  /* width: 25%; */
}


.TD1{
  text-align: left;
  /* text-align: right; */
  width: 35%;
  font-weight: 700;


}
.TD2{
  text-align: left;
  /* text-align: right; */
  width: 30%;

}
.TD3{
  text-align: center;
  /* text-align: right; */
  width: 20%;

}

 .TD4{
  text-align: center;
  /* text-align: right; */
  width: 10%;

}


 .h2Training {
  font-size: 16px;
}


.table1 {
  background-color: rgb(255, 255, 255);
  width: 250px;
  margin: 0px 0px 5px 0px;

  color: rgb(61, 56, 56);
  padding: 5px 0px 5px 0px;
  font-size: 12px;
  /* margin-right: 100px; */
}
.table1 th {
  font-weight: bold;
  padding-top: 0px;
  width: 50%;
  text-align: left;
  /* margin-right: 100px; */
}
.table1 td {
  font-weight: bold;
  padding-top: 0px;
  /* margin-right: 100px; */
  width: 50%;
}



input[type="file"] {
  /* width: "50%"; */
  /* display: none; */
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
}




.table3 {
  background-color: rgb(255, 255, 255);
  /* width: 500px; */
  margin: 0px 0px 5px 0px;

  color: rgb(61, 56, 56);
  padding: 0px 0px 5px 0px;
  font-size: 12px;
  text-align: center;
  /* margin-right: 100px; */
}
/* .table tr {
  text-align: ;

} */

.table3 td {
  font-weight: bold;
  padding-left: 0px;
  /* margin-right: 100px; */
  /* width: 100%; */
  /* text-align: center; */
}

.subheader {
  font-weight: bolder;
  font-size: 13px;
  /* text-align: left; */
}

.subheader2 {
  font-weight: bolder;
  font-size: 16px;
}

.link {
  font-weight: bolder;
  font-size: 12px;
  color: rgb(182, 178, 178);
}

a:link {
  color: rgb(182, 178, 178);
  text-decoration: none;
}

/* visited link */
a:visited {
  color: rgb(182, 178, 178);
}

/* mouse over link */
a:hover {
  color: rgb(182, 178, 178);
}

/* selected link */
a:active {
  color: rgb(182, 182, 201);
}

.header {
  justify-content: center;
  /* text-align: right; */
  /* border: 1px solid #3a921c; */
  color: rgb(144, 20, 20);

  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  font-size: 36px;
  font-weight: 700;
  /* font-family: "Racing Sans One", cursive; */
}
.header2 {
  justify-content: center;
  /* text-align: right; */
  /* border: 1px solid #3a921c; */
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 10px 0px;
  font-size: 28px;
  font-weight: 500;
  /* font-family: "Racing Sans One", cursive; */
}

.header3 {
  /* justify-content: center; */
  /* text-align: right; */
  /* border: 1px solid #3a921c; */
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 10px 0px;
  font-size: 30px;
  font-weight: 500;
  /* font-family: "Racing Sans One", cursive; */
}

.header4 {
  justify-content: center;
  /* text-align: right; */
  /* border: 1px solid #3a921c; */
  padding: 0px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
  font-size: 20px;
  font-weight: 500;
  /* font-family: "Racing Sans One", cursive; */
}

.item {
  background: white;
  color: #4c5e64;
  font-size: 12px;
  padding: 5px;
  /* border: skyblue 1px solid; */
  /* text-align: center; */
  background-color: white;

  font-family: "Michroma";
  /* border-width: 1px; */
}
.item-1 {
  grid-area: myArea1;
  vertical-align: middle;
  text-align: right;
  /* width: 100px; */
}

.item-2 {
  grid-area: myArea2;
  margin: auto;
  background-color: white;
  vertical-align: middle;
  text-align: center;
  font-size: 34px;
}

.item-3 {
  grid-area: myArea3;
  /* margin: auto; */
  background-color: white;
  vertical-align: middle;
  text-align: center;
  /* font-size: 12px; */
}

.item-4 {
  grid-area: myArea4;
  /* margin: auto; */

  vertical-align: middle;
  text-align: center;
}

.item-5 {
  grid-area: myArea5;
  vertical-align: middle;
  text-align: center;
}

/* .item-6 {    
    grid-area: myArea6;
}

.item-7 {    
    grid-area: myArea7;
} */

.list {
  text-align: left;
  width: 70%;
  border: 0px solid #3a921c;
}

.mainlogo {
  width: 550px;
  border: skyblue 0px solid;
  margin: 0px 0px 0px 0px;
}
.mainlogo2 {
  width: 130px;
  border: skyblue 0px solid;
  margin: 0px 0px 0px 0px;
}

.f1logomain {
  width: 80px;
  padding: 10px 0px 0px 0px;
  margin: 0px 0px 0px 0px;
}

.content_section {
  width: 100%;
  /* margin: auto; */
  /* background: #e6e6bc; */
}

.container2 {
  width: 100%;
  /* margin: 0px; */
  height: 100vh;
  background-color: white;

  /* background: #e6e6bc; */
  display: grid;
  grid-template-areas:
    "myArea1 myArea2 myArea3"
    "myArea4 myArea4 myArea4"
    "myArea5 myArea5 myArea5";

  grid-template-rows: 150px 850px 150px;
  grid-template-columns: 2fr 2fr 2fr;
}

.container5 {
  width: 100%;
  /* margin: 0px; */
  height: 100vh;
  background-color: white;

  /* background: #e6e6bc; */
  display: grid;
  grid-template-areas:
    "myArea2 myArea2 myArea2"
    "myArea3 myArea4 myArea5";
   

  grid-template-rows: 240px 850px;
  grid-template-columns: 2fr 2fr 2fr;
}




.container3 {
  width: 100%;
  margin: 0px;
  margin-top: 0px;
  /* height: 400vh; */
  background-color: white;

  /* background: #e6e6bc; */
  display: grid;
  grid-template-areas:
    "myArea2 myArea2 myArea2"
    "myArea3 myArea4 myArea5";

  grid-template-rows: 220px 1250px;
  grid-template-columns: 1fr 1fr 1fr;
}

/* grid-template-columns: 100px 5fr 100px; */

















@media screen and (max-width: 1050px) {
  
  .item {
    /* background: #FFFFFF; */
    color: #090224;
    font-size: 10px;
    padding: 5px;
    /* border: skyblue 1px solid; */
    text-align: center;
    font-family: "Michroma";
    /* background: #e6e6bc; */
  }

  .link {
    font-weight: bolder;
    font-size: 10px;
    color: #330dca;
  }

  .header {
    justify-content: center;
    /* text-align: right; */
    border: 0px solid #3a921c;
    color: rgb(144, 20, 20);
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 28px;
    font-weight: 700;
    /* font-family: "Racing Sans One", cursive; */
  }

  .header2 {
    justify-content: center;
    /* text-align: right; */
    border: 0px solid #3a921c;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 10px 0px;
    font-size: 20px;
    font-weight: 500;
    /* font-family: "Racing Sans One", cursive; */
  }

  .header3 {
    /* justify-content: center; */
    /* text-align: right; */
    /* border: 1px solid #3a921c; */
    padding: 0px 0px 0px 0px;
    margin: 20px 0px 10px 0px;
    font-size: 24px;
    font-weight: 500;
    /* font-family: "Racing Sans One", cursive; */
  }
  .mainlogo {
    width: 450px;
    border: skyblue 0px solid;
    margin: 0px 0px 0px 0px;
  }

  .f1logomain {
    width: 165px;
  }
  .subheader {
    font-weight: bolder;
    font-size: 16px;
  }
  .subheader2 {
    font-weight: bolder;
    font-size: 12px;
  }


  .container2 {
    width: 100%;
    /* margin: 0px; */
    height: 100vh;
    background-color: white;
  
    /* background: #e6e6bc; */
    display: grid;
    grid-template-areas:
      "myArea1 myArea2 myArea3"
      "myArea4 myArea4 myArea4"
      "myArea5 myArea5 myArea5";
  
    grid-template-rows: 150px 850px 150px;
    grid-template-columns: 2fr 2fr 2fr;
  }
  

  

  .container3 {
    /* background: #e6e6bc; */
    width: 90%;
    /* margin: 0px; */
    height: 200vh;
    /* margin: auto; */

    display: grid;
    grid-template-areas:
      "myArea2 myArea2" 
      "myArea3 myArea5"
      "myArea4 myArea4";


    grid-template-rows: 220px 350px 1000px;
    grid-template-columns: 1fr 1fr;
  }
}




















@media screen and (max-width: 650px) {
  .stravaLogo {
    width: 150px;
  }

.stvaLogo{
  width: 50px;


}
.container2 {
  width: 100%;
  /* margin: 0px; */
  height: 100vh;
  background-color: white;

  /* background: #e6e6bc; */
  display: grid;
  grid-template-areas:
    "myArea1 myArea2 myArea3"
    "myArea4 myArea4 myArea4"
    "myArea5 myArea5 myArea5";

  grid-template-rows: 160px 850px 150px;
  grid-template-columns: 2fr 2fr 2fr;
}


  .container3 {
    height: 100vh;
    width: 100%;
    margin: auto;

    display: grid;
    grid-template-rows: 210px 325px 300px 1000px;
    grid-template-columns: 1fr;
    grid-template-areas:
    "myArea2" 
    "myArea3"
    "myArea5"
    "myArea4";

  }

  .link {
    font-weight: bolder;
    font-size: 9px;
    color: #330dca;
  }
  .subheader {
    font-weight: bolder;
    font-size: 11px;
  }

  .subheader2 {
    font-weight: bolder;
    font-size: 9px;
  }
  .header {
    justify-content: center;
    /* text-align: right; */
    /* border: 1px solid #3a921c; */
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    font-size: 22px;
    font-weight: 700;
    /* font-family: "Racing Sans One", cursive; */
  }
  .header2 {
    justify-content: center;
    /* text-align: right; */
    /* border: 1px solid #3a921c; */
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 10px 0px;
    font-size: 18px;
    font-weight: 600;
    /* font-family: "Racing Sans One", cursive; */
  }

  .header3 {
    /* justify-content: center; */
    /* text-align: right; */
    /* border: 1px solid #3a921c; */
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 10px 0px;
    font-size: 14px;
    font-weight: 600;
    /* font-family: "Racing Sans One", cursive; */
  }
  .mainlogo {
    width: 360px;
    border: skyblue 0px solid;
    margin: 0px 0px 0px 0px;
  }

  .mainlogo2 {
    width: 90px;
    border: skyblue 0px solid;
    margin: 0px 0px 10px 0px;
  }
  .item {
    /* background: #FFFFFF; */
    color: #090224;
    font-size: 9px;
    padding: 5px;
    /* border: skyblue 1px solid; */
    text-align: center;
    font-family: "Michroma";
  }
  .f1logomain {
    width: 50px;
  }

  .item-1 {
    grid-area: myArea1;
    vertical-align: middle;
    text-align: center;
  }

  .item-2 {
    grid-area: myArea2;
    vertical-align: middle;
    text-align: center;
    border: skyblue 0px solid;
  }

  .item-3 {
    grid-area: myArea3;
    vertical-align: middle;
    text-align: center;
  }

  .item-4 {
    grid-area: myArea4;
    text-align: center;
  }

  .item-5 {
    grid-area: myArea5;
    text-align: center;
  }
}
